a:active {
  color: #2a9c56
}
a:visited {
  color: #1a7a3f
}
a:hover {
  color: #32b865
}
h2 {
  margin-bottom: 0.5em;
  font-family: BlackBeard,black-beard;
  font-size: 250%;
  font-weight: 400;
  font-size: calc(16px + 3vh);
}
h3 {
  margin-bottom: 0em;
  font-weight: 700;
  font-family: Futura PT,futura-pt,sans-serif;
  font-size: calc(16px + 0.6vh);
}
body {
  width: 800px;
  margin: auto;
  padding-left:20px;
  padding-right:20px;
  font-family: Minion Pro,minion-pro,serif;
  font-weight: 400;
  font-size: calc(16px + 0.3vh);
  word-wrap: break-word;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    font-size: calc(16px + 2vh);
    font-family: minion-pro-display;
  }
  h2 {
    font-size: calc(16px + 4vh);
    font-family: black-beard;
  }
  h3 {
    font-size: calc(16px + 2vh);
    font-family: futura-pt;
  }
}
