@media only screen and (max-width: 768px) {
  h2 {
    margin-bottom: 0em;
    font-size: 250%;
    font-weight: 400;
    font-size: calc(16px + 3vh);
  }
  body {
  width: auto;
  margin: auto;
  font-weight: 400;
  font-size: calc(16px + 3vh);
  padding: 14px;
  }
  h3 {
  margin-bottom: 0em;
  font-weight: 700;
  font-size: calc(16px + 3vh);
  }
}
