  <body>
    <div class="chargen">
      <h3>Appearance</h3>
	  <span id="adventurer"></span>
      <h3>Attributes</h3>
      <span style="font-family: 'futura-pt-condensed';color: #5e9ca0;"><span style="color: #000000;"><span id="defTotal">XX</span> <strong>DEF</strong> | <span id="res">XX</span> <strong>RES</strong> (<span id="vig">XX</span> <strong>Vigour</strong> and <span id="vit">XX</span> <strong>Vitality</strong>)</span></span><br>
      <span style="line-height: 2;font-family: 'futura-pt-condensed';color: #5e9ca0;"><span style="color: #000000;"><span id="str">XX</span> <strong>STR</strong> | <span id="dex">XX</span> <strong>DEX</strong> | <span id="wit">XX</span> <strong>WIT</strong> | <span id="spi">XX</span> <strong>SPI</strong></span></span><br>
    </div>
  </body>
<br><b>Reload to generate a new character.</b>
<br>
Based on <a href="https://runecairn.byodinsbeardrpg.com">Runecairn</a>. Maintained by <a href="https://byodinsbeardrpg.com">Colin Le Sueur</a>.
<br>Based on the original Cairn generators by <a href="https://nakade.itch.io">Nakade</a> and <a href="https://newschoolrevolution.com">Yochai Gal</a>. Relies on the incredible <a href="https://donjon.bin.sh/code/random">donjon generators</a>.
